<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vite App</title>
    <link rel="stylesheet" crossorigin href="/dist/bootstrap.css">
    <link rel="stylesheet" crossorigin href="/dist/error.css">
  </head>
  <body id="app" class="bg-light d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="text-center">
      <!-- Icono de error 404 (opcional) -->
      <div class="display-1 text-primary">404</div>
      <h1 class="display-4 text-muted">¡Oops! Página no encontrada</h1>
      <p class="lead text-muted">Lo sentimos, pero la página que buscas no está disponible.</p>
      <div class="mt-4">
        <a href="/" class="btn btn-primary btn-lg"><i class="fa fa-home" aria-hidden="true"></i>Volver a la página de inicio</a>
      </div>
    </div>
  </body>
</html>
